@page "/"

<PageTitle>Minha Primeria Página</PageTitle>

<h1>Olá Mundo</h1>


    <h1> Alunos</h1>



Bem Vindo(a) ao Blazor!
@code{
    private string mensagem = "Olá, este é um teste!";
    private int valorProduto = 10;
}
