@page "/"

<PageTitle>Minha Primeria Página</PageTitle>

<h1>Olá Mundo</h1>

@{
 var alunos = new dynamic[]{
    new dynamic
    {
    nome = "Ana",
    email = "ana@email.com"
    }
    new dynamic
    {
    nome = "tiao",
    email = "tiao@email.com"
    }
    new dynamic
    {
    nome = "juca",
    email = "juca@email.com"
    }
 };
}
    <h1> Alunos</h1>



Bem Vindo(a) ao Blazor!
@code{
    private string mensagem = "Olá, este é um teste!";
    private int valorProduto = 10;
}
